{% set namespace = 'Plasticbrain\\FlashMessages\\' %}

{% extends 'layout.html.twig' %}

{% block title %}
Admin | New Contact
{% endblock %}

{% block navbar %}
{% include 'admin-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">

		<div class="col-sm-6 col-sm-offset-2">
		
			<h2>New Contact</h2>

			<hr>

		</div>
	
	</div>

	<div class="form-group col-sm-6 col-sm-offset-2">

		<form id="create-contact" class="form-horizontal" method="POST" action="create.php">

			<label class="control-label" for="name">Name: </label><input class="form-control" id="name" type="text" name="name" value="" required>

			<label class="control-label" for="prisoner_number">Prisoner Number: </label><input class="form-control" id="prisoner_number" type="text" name="prisoner_number" value="" required>

			<label class="control-label" for="prison_id">Prison: </label>
			<select name="prison_id" id="prison_id" class="form-control">
				<option></option>
				{% for prison in prisons %}
					<option value="{{ prison.id }}">{{ prison.name | title }}</option>
				{% endfor %}
			</select>

			<label class="control-label" for="ethnicity">Ethnicity: </label>
			<select name="ethnicity" id="ethnicity" class="form-control">
				<option value=""></option>
				<option value="white">White</option>
				<option value="black">Black</option>
				<option value="hispanic">Hispanic</option>
				<option value="asian">Asian</option>
			</select>

			<label class="control-label" for="crime">Crime: </label><input class="form-control" id="crime" type="text" name="crime" value="" required>

			<label class="control-label" for="erd">Earliest Release Date: </label><input id="erd" type="text" class="form-control datepicker" name="erd" value="" required>

			<label class="control-label" for="home_town">Hometown: </label><input class="form-control" id="home_town" type="text" name="home_town" value="" required>

			<label class="control-label" for="marital_state">Marital State: </label>
			<select name="marital_state" id="marital_state" class="form-control">
				<option value=""></option>
				<option value="single">Single</option>
				<option value="married">Married</option>
				<option value="divorced">Divorced</option>
				<option value="separated">Separated</option>
			</select>

			<label class="control-label" for="gender">Gender: </label>
			<select name="gender" id="gender" class="form-control">
				<option value=""></option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>

			<label class="control-label" for="military">Military: </label>
			<select name="military" id="military" class="form-control">
				<option value=""></option>
				<option value="no">No</option>
				<option value="yes">Yes</option>
			</select>
			
			<input type="hidden" name="admin_id" value="{{ admin_id }}">

			<button id="submit" type="submit" class="btn btn-primary">Create Contact</button>

			<div class="row">
				<div class="col-sm-12 col-md-offset-2">
					{% if flash.hasErrors() %}
			 			{{ flash.display(constant(namespace~'FlashMessages::ERROR')) }}
			 		{% endif %}
		 		</div>
			</div>

		</form>
	
	</div>

</div> <!-- /container -->
{% endblock %}

{% block javascript %}
<script>
	$( function() {
		$( ".datepicker" ).datepicker({dateFormat: 'mm-dd-yy'});
	} );
</script>
{% endblock %}