{% set namespace = 'Plasticbrain\\FlashMessages\\' %}

{% extends 'layout.html.twig' %}

{% block title %}
Admin | New Writer
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/writer.css">
{% endblock %}

{% block navbar %}
{% include 'admin-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">

		<div class="col-sm-6 col-sm-offset-2">
		
			<h2>New Writer</h2>

			<hr>

		</div>
	
	</div>

	<div class="form-group col-sm-6 col-sm-offset-2">

		<form id="create-writer" class="form-horizontal" method="POST" action="create.php">

			<label class="control-label" for="email">Email: </label><input class="form-control" id="email" type="email" name="email" value="" required="">

			<label class="control-label" for="password">Password: </label><input class="form-control" id="password" type="password" name="password" value="" required>

			<label class="control-label" for="name">Name: </label><input class="form-control" id="name" type="text" name="name" value="" required>

			<label class="control-label" for="address_1">Address 1: </label><input class="form-control" id="address_1" type="text" name="address_1" value="" required>

			<label class="control-label" for="address_2">Address 2: </label><input class="form-control" id="address_2" type="text" name="address_2" value="">

			<label class="control-label" for="city">City: </label><input class="form-control" id="city" type="text" name="city" value="" required>
		
			<label class="control-label" for="state">State: </label>
			<select id="state" name="state" class="form-control">
				<option value=""></option>
				{% include 'states.html.twig' %}
			</select>

			<label class="control-label postal" for="postal_code">Postal Code: </label><input class="form-control postal" id="postal_code" type="text" name="postal_code" value="" required>

			<label class="control-label" for="phone">Phone: </label><input class="form-control" id="phone" type="text" name="phone" value="" required>

			<label class="control-label" for="gender">Gender: </label>
			<select name="gender" id="gender" class="form-control">
				<option value=""></option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>

			<input type="hidden" name="admin_id" value="{{ admin_id }}">

			<button id="submit" type="submit" class="btn btn-primary">Create Writer</button>

			<div class="row">
				<div class="col-sm-12 col-md-offset-2">
					{% if flash.hasErrors() %}
			 			{{ flash.display(constant(namespace~'FlashMessages::ERROR')) }}
			 		{% endif %}
		 		</div>
			</div>

		</form>
	
	</div>

</div> <!-- /container -->
{% endblock %}