{% extends 'layout.html.twig' %}

{% block title %}
Admin | Print
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/admin/print.css">
{% endblock %}

{% block content %}
<div class="letter-wrap">

	<div id="return-address">
		
		<div id="return-name">{{ writer }}</div>
		<div>US Pen Pal Writers</div>
		<div>PO Box 514</div>
		<div>Ada, MI 49301</div>
	
	</div>
	{{ contactAddress | raw }}
	{{ letter.getHtmlVersion | raw }}

</div>
{% endblock %}

{% block javascript %}
<script>
document.body.onload = function() { 
	window.print(); 
}
</script>
{% endblock %}