{% extends 'layout.html.twig' %}

{% block title %}
Admin | Upload
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/admin/upload.css">
{% endblock %}

{% block navbar %}
{% include 'admin-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">

		<div class="col-xs-12">

			{% if flash.hasMessages() %}
				{{ flash.display() }}
			{% endif %}

		</div>

	</div>

	<div class="row">

		<div class="col-xs-12">

			<form method="POST" action="letter-upload.php" enctype="multipart/form-data">

				<input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" onchange="makeFileList()" />

				<button type="submit">Upload</button>

			</form>

			<p>
				<strong>Files you selected:</strong>
			</p>

			<ul id="fileList">

				<li>No Files Selected</li>

			</ul>


		</div>

	</div>

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function makeFileList() {

	const input = document.getElementById("filesToUpload");
	const ul = document.getElementById("fileList");

	while (ul.hasChildNodes()) {
		ul.removeChild(ul.firstChild);
	}

	for (let i = 0; i < input.files.length; i++) {
		const li = document.createElement("li");
		li.innerHTML = input.files[i].name;
		ul.appendChild(li);
	}

	if(!ul.hasChildNodes()) {
		const li = document.createElement("li");
		li.innerHTML = 'No Files Selected';
		ul.appendChild(li);
	}

}
</script>
{% endblock %}