<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="../public/css/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/libs/jquery-ui.min.css">
	<link rel="stylesheet" href="../public/css/app.css">

	<!-- Custom Styles -->
	{% block css %}
	{% endblock %}
</head>
<body>
	{% block navbar %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	<script src="../public/js/libs/jquery-2.2.4.min.js"></script>
	<script src="../public/js/libs/jquery-ui.min.js"></script>
	<script src="../public/js/libs/bootstrap.min.js"></script>
	<script src="../public/js/app.js"></script>
	{% block javascript %}
	{% endblock %}
</body>
</html>