body {
    padding-bottom: 40px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.login-submit {
	margin-top: 20px;
}

input:last-child {
    margin-top: 1px;
}

#auth-login button {
    margin-bottom: 10px;
}