body {
	background-color: #FFF;
	font-family: 'Roboto', sans-serif;
	padding-top: 70px;
}

div.navbar-header > a.navbar-brand {
	color: #900;
}

ul.dropdown-menu li {
	padding: 5px;
}

.dropdown li:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.submit, #submit {
	margin-top: 15px;
}

hr {
	border-color: #337ab7;
}

/* alerts */
div.dismissable:hover {
	cursor: pointer;
}