{% set namespace = 'Plasticbrain\\FlashMessages\\' %}

{% extends "layout.html.twig" %}

{% block title %}
Home
{%  endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/writer/home.css">
{% endblock %}


{% block navbar %}
{% include 'writer-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="col-md-12">
			{% if flash.hasMessages() %}
				{{ flash.display() }}
			{% endif %}
		</div>
	</div>

	<div class="container">
		
		<div class="row">

			<div class="col-sm-4 section"> 

				<div class="panel panel-primary">

					<div class="panel-heading">Saved Drafts</div>

					<ul class="list-group">
					{% if drafts | length > 0 %}
						{% for draft in drafts %}
							<li class="list-group-item" data-letter-id="{{ draft.id }}">{{ draft.name | title }} - {{ draft.saved_date | date("m/d/y") }}</li>
						{% endfor %}
					{% else %}
						<li class="list-group-item non-pointer">No Drafts Found</li>
					{% endif %}
					</ul>

				</div>

			</div>

			<div class="col-sm-4 section">

				<div class="panel panel-primary">

					<div class="panel-heading">Unread Letters</div>

					<ul class="list-group">
					{% if unreadLetters | length > 0 %}
					{% else %}
						<li class="list-group-item non-pointer">No Unread Letters</li>
					{% endif %}
					</ul>

				</div>

			</div>

			<div class="col-sm-4 section">

				<div class="panel panel-primary">

					<div class="panel-heading">Recent Letters</div>

					<ul class="list-group">
					{% if recentLetters | length > 0 %}
					{% else %}
						<li class="list-group-item non-pointer">No Recent Letters</li>
					{% endif %}
					</ul>

				</div>

			</div>

		</div>

	</div>

</div>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function()  {

		$("#drafts li").click(function() {
			const letterId = $(this).data("letter-id");

			window.location.assign("/uswriters/writer/write.php?letter_id="+letterId);
		});

	});
</script>
{% endblock %}