@media print {
	body {
	padding: 10px 40px;
	}

	p {
		clear: both;
		text-indent: 30px;
	}

	#address {
		float: right;
		font-size: 16px;
	    margin-bottom: 50px;
	    transform: rotate(180deg);
	}
}