.panel-primary {
	padding: 0;
}

.panel-heading {
	font-size: 1.75rem;
}

.list-group-item:hover {
	background-color: lightyellow;
	cursor: pointer;
}

.non-pointer:hover {
	background-color: inherit;
	cursor: default;
}

.submitted, .read {
	color: salmon;
}

.letter-type {
	float: right;
}


@media (min-width: 768px) {

	.section {
		padding: 0px 5px;
	}

	.panel-heading {
		text-align: center;
	}

}
